.filter {
	display: flex;
	gap: 10px;
	padding: 24px 0 14px 0;
	overflow: auto;
	margin-top: -17px;
	position: relative;

	input {
		&.search {
			width: min(325px, 80vw);
		}
	}
}

.grid-container2 {
	display: grid;
	grid: "aside content" 1fr / auto 1fr;
	gap: 10px;
	height: calc(100vh - 11rem);
}

.box {
	border-radius: .25rem;
}

.aside {
	grid-area: aside;
	display: flex;
	flex-direction: column;
	align-items: start;
	flex-wrap: wrap;
	gap: .3rem;

	.pill {
		display: flex;
		align-items: center;
		--pill-accent: var(--bright-blue);
		background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
		color: var(--pill-accent);
		padding-inline: 0.75rem;
		padding-block: 0.375rem;
		border-radius: 2.75rem;
		border: 0;
		transition: background 0.3s ease;
		font-size: 0.75rem;
		font-style: normal;
		line-height: 1.4rem;
		letter-spacing: -0.00875rem;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
		}

		// &:nth-child(6n + 1) {
		// 	--pill-accent: var(--bright-blue);
		// }

		// &:nth-child(6n + 2) {
		// 	--pill-accent: var(--french-violet);
		// }

		// &:nth-child(6n + 3),
		// &:nth-child(6n + 4),
		// &:nth-child(6n + 5) {
		// 	--pill-accent: var(--hot-red);
		// }
	}

	svg {
		margin-inline-start: 0.25rem;
	}
}

.space {
	flex-grow: 1;
}

.separator {
	border-bottom: 1px solid var(--placeholder-color);
	margin: 10px 0;
}

.content {
	// grid-area: content;
	padding: 0 0 4px 0;
	height: 100%;
	overflow: auto;
	position: relative;

}

.INFO {
	background-color: #c1d3f1;
	font-size: -.2rem !important;
}

.WARNING {
	background-color: #e0d69f;
}

.ERROR {
	background-color: #f39c9c;
}

.tabs {
	display: flex;
	flex-direction: column;

	.tab-buttons {
		display: flex;
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;

		// button {
		// 	background: none;
		// 	border: none;
		// 	border-radius: 0;
		// 	font-size: .7rem;

		// 	&.active {
		// 		border-bottom: 2px solid #007bff;
		// 		font-weight: 500;
		// 	}
		// }
	}

	.tab-content {
		display: grid;
		grid: "aside content" 1fr / auto 1fr;
		gap: 10px;
		height: calc(100vh - 13.5rem);
		width: 100%;
	}
}

.tab-button-group {
	display: flex;
	align-items: center;

	button {
		background: none;
		border: none;
		border-radius: 0;
		font-size: .7rem;

		&:nth-child(2) {
			font-size: .9rem;

			&:hover {
				background-color: #cdcdcd;
				font-weight: bold;
				color: red;
				cursor: pointer;
			}
		}

		&.active		{
			border-bottom: 2px solid #007bff;
			font-weight: 500;
		}
	}

}