<h1>comparar versão</h1>

<section class="filter">
	<input #search type="text" name="search" placeholder="nome da jornada" class="search" />

	<input #newVersion type="number" name="new-version" placeholder="versão" class="version" />
	<input #oldVersion type="number" name="old-version" placeholder="versão" class="version" />
	&nbsp;&nbsp;
	<button (click)="onCompare(search.value, oldVersion.value, newVersion.value)">comparar</button>

	<button [disabled]="diff.flowName.length === 0" (click)="scriptIUBot()" title="script para iubot">
		<!-- <i class="fab fa-js-square"></i> -->
		<i class="material-symbols-outlined">{{ icoFlow() }}</i>
	</button>
	<button [disabled]="diff.flowName.length === 0" (click)="jsonResultDiff()" title="resultado comparação">
		<!-- <i class="fal fa-file-download"></i> -->
		<i class="material-symbols-outlined">download</i>
	</button>
</section>

<section class="grid-container">
	@if (diff.blocks.deleted.length > 0) {
		<div class="box deleted">
			<h1 class="data-count" [attr.data-count]="diff.blocks.deleted.length">Removido's</h1>
			<div class="column">
				@for (item of diff.blocks.deleted; track $index) {
					<div class="card">
						<h3>{{ item.activityName }}</h3>
						<p style="font-weight: 500;">{{ item.activityId }}</p>
						<p>{{ item.activityType }}</p>
						<p class="comment" [attr.aria-hidden]="true" (click)="openDiffModal(item.activityName, item.content)">conteúdo</p>
					</div>
				}
			</div>
		</div>
	}

	@if (diff.blocks.recreated.length > 0) {
		<div class="box recreated">
			<h1 class="data-count" [attr.data-count]="diff.blocks.recreated.length">Recriado's</h1>
			<div class="column">
				@for (item of diff.blocks.recreated; track $index) {
					<div class="card">
						<h3>{{ item.activityName }}</h3>
						<p style="font-weight: 500;">{{ item.activityId }}</p>
						<p>{{ item.activityType }}</p>
						@for (changed of item.diff; track $index) {
							<p class="comment" [attr.aria-hidden]="true" (click)="openDiffModal(item.activityName, changed)">{{ changed.propertyName }}</p>
						}
					</div>
				}
			</div>
		</div>
	}

	@if (diff.blocks.recreatedUpdated.length > 0) {
		<div class="box recreated-changed">
			<h1 class="data-count" [attr.data-count]="diff.blocks.recreatedUpdated.length">Recriado's e alterado's</h1>
			<div class="column">
				@for (item of diff.blocks.recreatedUpdated; track $index) {
					<div class="card">
						<h3>{{ item.activityName }}</h3>
						<p style="font-weight: 500;">{{ item.activityId }}</p>
						<p>{{ item.activityType }}</p>
						@for (changed of item.diff; track $index) {
							<p class="comment" [attr.aria-hidden]="true" (click)="openDiffModal(item.activityName, changed)">{{ changed.propertyName }}</p>
						}
					</div>
				}
			</div>
		</div>
	}

	@if (diff.blocks.updated.length > 0) {
		<div class="box changed">
			<h1 class="data-count" [attr.data-count]="diff.blocks.updated.length">Alterado's</h1>
			<div class="column">
				@for (item of diff.blocks.updated; track $index) {
					<div class="card">
						<h3>{{ item.activityName }}</h3>
						<p style="font-weight: 500;">{{ item.activityId }}</p>
						<p>{{ item.activityType }}</p>
						@for (changed of item.diff; track $index) {
							<p class="comment" [attr.aria-hidden]="true" (click)="openDiffModal(item.activityName, changed)">{{ changed.propertyName }}</p>
						}
					</div>
				}
			</div>
		</div>
	}

	@if (diff.blocks.added.length > 0) {
		<div class="box created">
			<h1 class="data-count" [attr.data-count]="diff.blocks.added.length">Novo's</h1>
			<div class="column">
				@for (item of diff.blocks.added; track $index) {
					<div class="card">
						<h3>{{ item.activityName }}</h3>
						<p style="font-weight: 500;">{{ item.activityId }}</p>
						<p>{{ item.activityType }}</p>
						<p class="comment" [attr.aria-hidden]="true" (click)="openDiffModal(item.activityName, item.content)">conteúdo</p>
					</div>
				}
			</div>
		</div>
	}
</section>

<app-code-modal [title]="codeModal.title" [data]="codeModal.data" [closeFromOutside]="true" ></app-code-modal>
