<h1>compare works!</h1>

<section class="filter">
		<input #search type="text" placeholder="nome da jornada" class="search" />

		<input #newVersion type="number" name="new-version" title="versão nova" class="new-version" />
		<input #oldVersion type="number" name="old-version" title="versão antiga" class="old-version" />
		&nbsp;&nbsp;
		<button>comparar</button>
</section>

<section class="grid-container">
	<div class="box deleted">
		<h1>Removido</h1>
		<div class="column">
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
		</div>
	</div>

	<div class="box recreated">
		<h1>Recriado</h1>
		<div class="column">
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
		</div>
	</div>

	<div class="box recreated-changed">
		<h1>Recriado e Alterado</h1>
		<div class="column">
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
				<p class="comment">o que foi alterado</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
				<p class="comment">o que foi alterado</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
				<p class="comment">o que foi alterado</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
				<p class="comment">o que foi alterado</p>
			</div>
		</div>
	</div>

	<div class="box changed">
		<h1>Alterado</h1>
		<div class="column">
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
				<p class="comment">o que foi alterado</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
				<p class="comment">o que foi alterado</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
				<p class="comment">o que foi alterado</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
				<p class="comment">o que foi alterado</p>
			</div>
		</div>
	</div>

	<div class="box created">
		<h1>Adicionado</h1>
		<div class="column">
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>
			<div class="card">
				<h3>activityName</h3>
				<p>activityId</p>
				<p>activityType</p>
			</div>

		</div>
	</div>
</section>
