<table>
	@if (caption()?.length) {
		<caption>{{ caption() }}</caption>
	}
	<thead>
		<tr>
			@for (key of keys; track $index) {
				@if (!ignoreColumns().includes(key)) {
					<th>
						<a (click)="sortBy(key)" aria-hidden="true">{{ key }}{{ sortIcon(key) }}</a>
					</th>
				}
			}
		</tr>
	</thead>
	<tbody>
		@if (!noRenderData()) {
			@for (item of data; track $index) {
				<tr (click)="selectRow($index)" [ngClass]="{ selected: selectedRow === $index }">
					@for (key of keys; track $index) {
						@if (!ignoreColumns().includes(key)) {
							<td [attr.data-th]="key" [ngClass]="key.includes('Id') ? 'nowrap' : ''">
								@if ( (item[key] | stringfy).length > maxLengthForEllipsed()) {
									<a (click)="valueSelected.emit({ key, value: item[key] })" aria-hidden="true">
										{{ item[key] | textEllipsis : maxLengthForEllipsed() }}
									</a>
								} @else {
									{{ item[key] | textEllipsis : 0 }}
								}
							</td>
						}
					}
				</tr>
			}
		} @else {
			<ng-content></ng-content>
		}
	</tbody>
</table>
