<h1>listar blocos</h1>

<section class="filter">
	<input #search type="text" placeholder="nome da jornada" class="search" />
	&nbsp;&nbsp;
	<button>carregar</button>
</section>

<section class="container">
	<table>
		<thead>
			<tr>
				@for (key of keys; track $index) {
					<th>
						<a (click)="sortBy(key)">{{ key }}{{ sortIcon(key) }}</a>
					</th>
				}
			</tr>
		</thead>
		<tbody>
			@for (item of data; track $index) {
				<tr>
					@for (key of keys; track $index) {
						<td>{{ transfomValue(item[key]) }}</td>

						<!-- @if (item[key] !== null) {
							<ng-container>
								@if (isPrimitive(item[key])) {
									<ng-container>
										{{ item[key] }}
									</ng-container>
								} @else {
									<ng-template>
										{{ item[key] | json }}
									</ng-template>
								}
							</ng-container>
						} -->
					}
				</tr>
			}
		</tbody>
	</table>
</section>
