.filter {
	display: flex;
	justify-self: start;
	align-items: center;
	gap: 10px;
	padding: 24px 0 14px 0;
	overflow: auto;
	margin-top: -17px;
	position: relative;

	// input {
	// 	width: 80px ;

	// 	&.search {
	// 		width: min(325px, 80vw);
	// 	}
	// }

}


table caption {
	text-align: left !important;
}

.container {
	padding: 0 0 4px 0;
	height: calc(100% - 6.5rem);
	overflow: auto;
	position: relative;
}

a {
	cursor: pointer;

	&.open-code {
		color: rgb(24, 67, 133);
	}
}

// table {
// 	width: 100%;

// 	box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

// 	td a {
// 		color: rgb(24, 67, 133);
// 	}

// 	tr {
// 		td {
// 			cursor: pointer
// 		}

// 		&.selected {
// 			background-color: #dadada;
// 			// border: 2px solid var(--primary-color);
// 			font-weight: 500;
// 		}
// 	}
// }
