<h1>listar blocos</h1>

<section class="filter">
	<input #search type="text" name="search" placeholder="nome da jornada" class="search" />
	<input #version type="number" name="version" placeholder="versão" class="version" />
	&nbsp;&nbsp;
	<button (click)="loadData(search.value, version.value)">carregar</button>

	<div>
		@if (config.flowName.length > 0) {
			<h3>{{ config.flowName.toUpperCase() }} v{{ config.flowVersion }}</h3>
			<a (click)="openModalBlocks()" (keyup)="openModalBlocks()" class="open-code" aria-disabled="true">
				{{ config.activityCount }} {{ config.activityCount === 1 ? 'bloco' : 'blocos' }}
			</a>
		}
	</div>
</section>

<section class="container">
	<app-table [data]="data" [maxLengthForEllipsed]="100" (valueSelected)="openModal($event.key, $event.value)"></app-table>
</section>

<app-code-modal [title]="codeModal.title" [data]="codeModal.data"></app-code-modal>
