<dialog #dialog (click)="onCloseFromOutside($event)" aria-hidden="true">
	<div class="titlebar">
		<h2>{{ title() }}</h2>
		<button class="close" (click)="closeDialog()">
			<i class="far fa-times close-icon"></i>
		</button>
	</div>

	<div class="content">
		<div class="copy">
			@if (copySuccess) {
				<small class="copy-success">conteúdo copiado!</small>
			}
			<i class="fal fa-copy" (click)="copyToClipboard(data())" aria-hidden="true"></i>
		</div>
		<pre><code>{{ data() | json }}</code></pre>
	</div>
</dialog>

