<div class="grid-container">
	<div class="cell1 box">
		<table style="width: 100%">
			<caption>
				Estratégia de distribuição
			</caption>
			<thead>
				<tr>
					<th>Jornada</th>
					<th colspan="2">
						Publish
						<p><small>versão | distribuição</small></p>
					</th>
					<th colspan="2">
						Pilot
						<p><small>versão | distribuição</small></p>
					</th>
				</tr>
			</thead>
			<tbody>
				@for (flow of flows; track $index) {
					<tr>
						<td data-th="Jornada">{{ flow.flowName }}</td>
						<td data-th="Versão Publish">{{ flow.publishVersion }}</td>
						<td data-th="Dist. Publish">{{ flow.publishDist }}</td>
						<td data-th="Versão Pilot">{{ flow.pilotVersion }}</td>
						<td data-th="Dist. Pilot">{{ flow.pilotDist }}</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="cell2 box">
		<div class="input-box">
			<select #selectDoc style="width: 120px">
				<option value="1" selected>CPF</option>
				<option value="2">CNPJ</option>
			</select>
			
			<button (click)="onGenerateDoc(selectDoc.value)" > gerar documento </button>
		</div>
		<div class="input-box">
			<input #doc type="text" placeholder="informe o cpf ou cnpj" />
			<button (click)="onValidateDoc(doc.value)"> validar </button>
		</div>
	</div>
	<div class="cell3 box favorites">

		@for (item of [
			{title: 'Angular', href: 'https://angular.io'},
			{title: 'Github', href: 'https://github.com'}
			]; track $index) {
			<app-favorite [item]="item" />
		}

	</div>
</div>
